@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #1c1c1c;
  --primary: #2E3A66;
  --accent: #FFD447;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Cairo', sans-serif;
}
